<% if @current_user %>
  <h1><%= @user.username %></h1>

  My secret is <%= @user.secret %>

  <%= @user.nickname %>

  <br>
  <br>My Purchases:

 <% if Transaction.all.include?(Transaction.find_by(user_id: session[:user_id])) %>
  <table>
    <thead>
      <tr>
        <h2>Invoices</h2>
        <th>Item Name</th>
        <th>Item Quantity</th>
        <th>Item Price</th>
      </tr>
    </thead>
   <tbody> 
      <% Transaction.all.each do |item| %>
        <% if item.user_id == session[:user_id]%>
        <tr>
          <td> <%= item.item.name %> </td>
          <td> <%= item.quantity %> </td>
          <td>$ <%= '%.2f' % (item.item.price * item.quantity) %> </td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
  </table>
  <% else %>
    <%= "You have no transactions" %>
  <% end %>



  <%= button_to "Logout", '/sessions', method: :delete %>
<% else %>
  Access Denied
<% end %>