<br>
<% if session[:username] != nil%>
<h1>Hello, <%= session[:username] %>.</h1>
  <input type=submit value='logout'>
<% else %>
<br>
<br>
<% end %>
<br><br>
<div class="text-center">
  <h3>Most Popular Choice:</h3>
  <% arr = Transaction.all %> 
  <% freq = arr.inject(Hash.new(0)) { |h,v| h[v] += 1; h } %>
  <% item = freq.max_by { |_, v| v }.first.item %>
  <%= link_to item.name, "items/#{item.id}" %><br>
  <img src=<%= freq.max_by { |_, v| v }.first.item.img_url %>><br>
</div>
 <br><br><br><br>
 <div class="container">
  <div class="row">
    <div class="col-sm">
      <br><% item1 = @items.sample %><%= link_to "#{item1.name}", "items/#{item1.id}" %><br>
      <img src=<%= item1.img_url %> class="img-fluid" alt="Responsive image">    
    </div>
    <div class="col-sm">
      <br><% item2 = @items.sample %><%= link_to "#{item2.name}", "items/#{item2.id}" %><br>
      <img src=<%= item2.img_url %> class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <br><% item3 = @items.sample %><%= link_to "#{item3.name}", "items/#{item3.id}" %><br>
      <img src=<%= item3.img_url %> class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <br><% item4 = @items.sample %><%= link_to "#{item4.name}", "items/#{item4.id}" %><br>
      <img src=<%= item4.img_url %> class="img-fluid" alt="Responsive image">    
    </div>
    <div class="col-sm">
      <br><% item5 = @items.sample %><%= link_to "#{item5.name}", "items/#{item5.id}" %><br>
      <img src=<%= item5.img_url %> class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm">
      <br><% item6 = @items.sample %><%= link_to "#{item6.name}", "items/#{item6.id}" %><br>
      <img src=<%= item6.img_url %> class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>



