<tr>
  <% @cart.cart_items.each do |cart_items| %>
    <%= form_for cart_items do |cart_item| %>
      <td> <%= cart_item.hidden_field :cart_id %> </td><br>
            Item Name:
        <h4><td> <%= cart_items.item.name %> </td><br></h4>
        <td> <%= cart_item.hidden_field :item_id %> </td>
            Item Price:
        <td>$ <%= '%.2f' % (cart_items.item.price * cart_items.quantity) %> </td><br>
        <td> <%= cart_item.text_field :quantity %> </td>
        <td> <%= cart_item.submit %> </td><br>
          <br><%= link_to "Delete from Cart", cart_items, method: :delete, data: { confirm: "Really?" }, class: "btn btn-info btn-lg" %>
        <br>
        <br>
        <br>
      <% end %>
    <% end %>   
        <br><%= link_to "Checkout", @cart, method: :get, class: "btn btn-info btn-lg" %><br>
        
</tr>
<br><%= link_to "Delete all from Cart", @cart, method: :delete, data: { confirm: "Really?" }, class: "btn btn-info btn-lg" %>  
<br>
<h4>$ <%= '%.2f' % CartsController.sum(@cart) %></h4> 
<br><%= link_to "BACK TO ALL ITEMS", '/items', class: "btn btn-info btn-lg" %><br>







