<tr>
  <% @cart.cart_items.each do |cart_items| %>    
    <%= form_for cart_items do |cart_item| %>
      <td> <%= cart_item.hidden_field :cart_id %> </td><br>
      Item Name:
      <td> <%= cart_items.item.name %> </td><br>
      <td> <%= cart_item.hidden_field :item_id %> </td>
      Item Price:
      <td> <%= '%.2f' % cart_items.item.price %> </td><br>
      <td> <%= cart_item.text_field :quantity %> </td>
      <td> <%= cart_item.submit %> </td><br>
      <%= link_to submit_tag("Delete from Cart"), cart_items, method: :delete, data: { confirm: "Really?" } %>
    <% end %>
  <% end %>   
</tr>
<br><%= link_to submit_tag("Delete all from Cart"), @cart, method: :delete, data: { confirm: "Really?" } %>  



<h4><%= link_to "BACK TO ALL ITEMS", '/items' %></h4><br>




