<h1>Shop Halo Online Store</h1>
<br/>
  <thead>
    <tr>
      <h2>All Items</h2>
      <h4><%= link_to "Go back to all Items", '/items' %></h4><br>
      
      <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:query, "Search by Name:") %>
      <%= text_field_tag(:query) %><br>
      <%= submit_tag("Search") %>
<% end %>



<%= form_tag("/search", method: "get") do %>
      <%= label_tag("Search by Category:") %>
      <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name") %>
      <%= submit_tag("Search") %>
<% end %>

  

    <div>
    <% @items.each do |item| %>
      <h3><%= link_to item.name, item_path(item) %></h3>
      <h4><%= item.category.name %></h4>
      <p><%= item.description %></p>
    <% end %>
    </div> 
</table>





