<br>
<%= image_tag @item.img_url, style: "float:left", class: "img-thumbnail", size: "500x500" %>
<h2><%= @item.name %></h2>
<p><%= @item.description %></p>
<p>$ <%= '%.2f' % (@item.price) %></p>
<p><%= link_to 'add to cart', "/add_to_cart/#{@item.id}", class: "btn btn-info btn-lg" %></p>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= bootstrap_form_for @review do |f| %>
        <%= f.label "Write a review!" %>
        <%= f.text_field :title, placeholder: "title" %>
        <%= f.number_field :rating, placeholder: "rating" %>
        <%= f.text_field :review, placeholder: "review" %>
        <%= f.hidden_field :user_id, value: "#{session[:user_id]}" %>
        <%= f.hidden_field :item_id, value: "#{@item.id}" %>
        <%= f.submit "Submit Review", class: 'form-control login-button' %>
      <% end %>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm"> 
    </div>
  </div>
</div>
<br><br><br>
<% @item.reviews.each do |review| %>
<br>------------------------------------------------------------------<br>
<br><%= review.user.nickname %>
<%= "Review: #{review.title}." + " " + "Rating: #{review.rating}" %>
<br><%= review.review %>
<% end %>
<br>------------------------------------------------------------------<br>
  
<p><%= link_to 'Back to All Items', "/items", class: "btn btn-info btn-lg" %></p>
<br><br>