<!DOCTYPE html>
<html>
  <head>
    <title>HaloStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<h1>Halo Store</h1>
<button><a href="/">home</a></button>---<button><a href="/carts/<%= session[:cart_id] %>/edit">Cart</a></button>---<button><a href="/items">items</a></button>---<button><a href="/users/<%= session[:user_id] %>">Profile</a></button>
  <body>
    <%= yield %>
  </body>
</html>
