<!DOCTYPE html>
<html>
  <head>
    <div class="text-center">
    <%= image_tag("Halo_store_main.png", size: "756x52", :alt => "Halo Logo") %>
    </div>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
